:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

.page__header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.container {
  width: 1352px;
  margin: 0 auto;
}


.logo {
  color: var(--color-primary);
  font-size: 35px;
  font-weight: 200;
}

.header__nav {
  display: flex;
  list-style: none;
}

.nav__link {
  margin-right: 50px;
  color: var(--color-grey);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.28px;
  font-size: 11px;
  padding: 28px 18px 22px;
}

.nav__link:hover {
  border-bottom: 5px solid #03a6ff;
  padding-bottom: 27px;
}

/* Opening content */

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening__content {
  text-align: center;
  margin-top: 100px;
}

.opening__title {
  font-family: var(--font-raleway);
  font-size: 49px;
  font-weight: normal;
}

.opening__text {
  font-family: var(--font-open-sans);
  font-size: 16px;
  margin-bottom: 50px;
}

.opening__image {
  width: 100%;
  height: auto;
}

.btn {
  padding: 15px 100px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #08A6E4;
  color: white;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 5px 10px 14px #07ACE629;
}

/* Satistics section */

.statistics-title {
  padding: 20px 0;
  text-align: center;
  font-weight: 200;
}

.opening-image {
  width: 100%;
  height: auto;
}

.title {
  padding-top: 40px;
}

/* Statistics */

.statistics__box {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
}


.statistics__title {
  text-align: center;
  padding: 50px 0;
  font-weight: normal;
  font-family: var(--font-raleway);
  font-size: 36px;
}


.circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: absolute;
  background-color: var(--color-redish);
}


.statistics__single {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics__img {
  position: absolute;
}

.statistics__single:nth-child(1) .statistics__img {
  top: 25px;
  left: 40px;
}

.statistics__single:nth-child(2) .statistics__img {
  top: 35px;
  left: 40px;
}

.statistics__single:nth-child(3) .statistics__img {
  top: 25px;
  left: 40px;
}

.statistics_circle_img_box {
  width: 100%;
  height: 100px;
  position: relative;
}

.circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.statistics__single:nth-child(1) .circle {
  background-color: var(--color-redish);
}

.statistics__single:nth-child(2) .circle {
  background-color: var(--color-primary);
}

.statistics__single:nth-child(3) .circle {
  background-color: var(--color-green);
}

.number {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.1875rem;
  margin-top: 13px;
}

.text {
  color: var(--color-grey);
  font-weight: 200;
  font-size: 12px;
  padding: 20px;
}

