@use "/scss/settings/fonts";
@use "/scss/settings/mixins";
@use "/scss/settings/colors";

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: fonts.$font-open-sans;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1352px;
    margin: 0 auto;

    @include mixins.notebook {
        width: 100%;
        padding: 0 15px;
    }
  }
  
  
  .logo {
    color: colors.$color-primary;
    font-size: 35px;
    font-weight: 200;
  }