@use "/scss/settings/colors";
@use "/scss/settings/fonts";
@use "/scss/settings/mixins";
@use "/scss/elements/base";

.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;



    @include mixins.notebook {
        margin: 50px auto;
    }
}

;

.pricing__boxes {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    @include mixins.notebook {
        flex-direction: column;
        width: 100%;
    }
}

.pricing__box {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid var(--accent-color);
    border: 1px solid colors.$color-primary;

    @include mixins.notebook {
        width: 100%;
        max-width: 370px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: center;
        padding: 25px 10px 0 10px;
    }
}

.pricing__title {
    font-family: fonts.$font-raleway;
    font-size: 49px;
    font-weight: normal;
    text-align: center;
}

.btn {
    position: relative;
    bottom: -50px;
    font-size: 0.8125rem;
    display: flex;
    align-self: center;
}

.pricing__box--basic {
    border: 1px solid colors.$color-redish;
    margin: 15px 59px 0 180px;
    width: 372px;
    height: 461px;

    .pricing__price {
        margin-bottom: 30px;
    }

    .btn {
        background-color: colors.$color-redish;
    }

    @include mixins.notebook {
        margin-bottom: 0;
    }
}

.pricing__box--profi {
    --accent-color: colors.$color-primary;
    width: 405px;
    height: 500px;
    box-shadow: 5px 1px 27px colors.$color-primary-shadow;

    @include mixins.notebook {
        max-width: 400px;
        width: 100%;
        margin: 0 0 50px 0;
    }

    .btn-profi {

    position: relative;
    bottom: -90px;
    font-size: 0.8125rem;
    display: flex;
    align-self: center;
    background-color: colors.$color-primary;

    }
}

.pricing {
    &__type {
        font-size: 1.3125rem;
    }

    &__item {
        margin-bottom: 25px;
    }
}

.pricing__box--premium {
    border: 1px solid colors.$color-green;
    margin: 15px 180px 0 59px;
    width: 372px;
    height: 461px;

    .btn {
        background-color: colors.$color-green;
    }
}

.details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;

    @include mixins.notebook {
        width: 50%;
        margin: 0;
    }
}

.pricing__type {
    font-size: 1.25rem;
    font-family: fonts.$font-raleway;
    font-weight: 700;
}

.pricing__price {
    font-size: 2.875rem;
    font-family: fonts.$font-open-sans;
    font-weight: 300;
    margin-top: 25px;
    color: var(--accent-color);
}

.limited__offer {
    text-align: center;
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: fonts.$font-raleway;
    font-weight: 700;
}

.pricing__items {
    text-align: center;

    @include mixins.notebook {
        width: 50%;
        text-align: left;
    }
}

.pricing__item {
    font-size: 14px;
    margin-bottom: 20px;

    @include mixins.notebook {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &::before {
        content: "";
        width: 11px;
        height: 11px;
        display: inline-block;
        margin-right: 10px;
        background-image: url("/assets/Ckechmark-1.svg");
    }
}

.pricing-item-not {

    &::before {
        background-image: url("/assets/Close.svg");
    }

}