@use "/scss/settings/colors";
@use "/scss/settings/fonts";
@use "/scss/settings/mixins";

/* Satistics section */

.statistics-title {
    padding: 20px 0;
    text-align: center;
    font-weight: 200;
  }
  
  .opening-image {
    width: 100%;
    height: auto;
  }
  
  .title {
    padding-top: 40px;
  }
  
  /* Statistics */
  
  .statistics__box {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;

    @include mixins.mobile {
        margin: 35px auto 50px;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
  }
  
  
  .statistics__title {
    text-align: center;
    padding: 50px 0;
    font-weight: normal;
    font-family: fonts.$font-raleway;
    font-size: 36px;
  }
  
  
  .circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: absolute;
    background-color: colors.$color-redish;
  }
  
  
  .statistics__single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.mobile {
        margin-bottom: 50px;
    }
  }
  
  .statistics__img {
    position: absolute;
  }
  
  .statistics__single:nth-child(1) .statistics__img {
    top: 25px;
    left: 40px;
  }
  
  .statistics__single:nth-child(2) .statistics__img {
    top: 35px;
    left: 40px;
  }
  
  .statistics__single:nth-child(3) .statistics__img {
    top: 25px;
    left: 40px;
  }
  
  .statistics_circle_img_box {
    width: 100%;
    height: 100px;
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: absolute;
    top: 20px;
    left: 10px;
  }
  
  .statistics__single:nth-child(1) .circle {
    background-color: colors.$color-redish;
  }
  
  .statistics__single:nth-child(2) .circle {
    background-color: colors.$color-primary;
  }
  
  .statistics__single:nth-child(3) .circle {
    background-color: colors.$color-green;
  }
  
  .number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
  }
  
  .text {
    color: colors.$color-grey;
    font-weight: 200;
    font-size: 12px;
    padding: 20px;
  }

